<style>
.aboutNav {
    background-color: #4caf50;
    color: white;
}
</style>

<body class="aboutBg">

    <div class="aboutMe">
        <img class="meImg" src="https://cdna.artstation.com/p/assets/images/images/021/780/602/large/marcus-fall-arkadiy-demchenko-stare-comp-v001-tall.jpg?1572921689">
        <h1 class="aboutText">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia nemo magnam illum voluptatibus mollitia delectus quis odit nihil deserunt? Similique, tempore adipisci consequatur qui molestiae modi officia est fugit. Architecto!
        </h1>
    </div>
</body>