<style>
.homeNav {
    background-color: #4caf50;
    color: white;
}
</style>

<body class="bg">
    <h1 class="introduction"> 
        Hello, my name is Barnabas Wiese. I like Tomislav Jagnjic's art so I use it for every local website I create.
    </h1>
    <a class="myWork" href="/portfolio"> Tomislav's Work </a>
</body>
