<body class="bg">
    <h1 class="introduction"> 
        Hello, my name is Barnabas Wiese. I sometimes have creative ideas and I try to build websites
    </h1>
    <a class="myWork" href="/portfolio"> My Work </a>
</body>
