<style>
.homeNav {
    background-color: #4caf50;
    color: white;
}
</style>

<body class="welcBg">
    <h1 class="introduction"> 
        I like Tomislav Jagnjic's art so I use a lot of it for every local website I create.
    </h1>
    <a class="myWork" href="/portfolio"> Tomislav's Work </a>
</body>
